.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    flex-direction: row;
    height: 180px;
}

.logo{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.carrito{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

ul{
    list-style: none;
    align-items: center;
    flex-direction: row;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    justify-content: baseline;
}